<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1><%= bakeries.type %></h1>
    <form action="/bakery/<%= bakeries.id %>?_method=PUT" method="post">
        Type: <input type="text" name="type" id="type" value="<%= bakeries.type %>" /><br/>
        Type Image Link: <input type="text" name="typeImg" id="typeImg" value="<%= bakeries.typeImg %>" /><br/>
        Category: <input type="text" name="category" id="category" value="<%= bakeries.category %>" /><br/>
        Subcategory: <input type="text" name="subcat" id="subcat" value="<%= bakeries.subcat %>" /><br/>
        Description: <input type="text" name="description" id= "description" value="description" /><br/>
        Ingredients: <input type="text" name="ingredients" id="ingredients" value="ingredients" /><br/>
        PricingType: <input type="text" name="pricingType" id="pricingType" value="<%= bakeries.pricingType %>" /><br />
        Price: $<input type="text" name="price" id="price" value="<%= bakeries.price %>" /><br />
        <input type="submit" value="edit item" />
    </form>
</body>
</html>