<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--route to go home-->
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1><%= bakeries.type %></h1>
    <form action="/<%= bakeries.id %>?_method=PUT" method="post">
        <!--Type-->
        <label for="type">Type</label><br />
        <input type="text" name="type" id="type" value="<%= bakeries.type %>" /><br />
        <!--Image of Type-->
        <label for="typeImg">Type Image Link</label><br />
        <input type="text" name="typeImg" id="typeImg" value="<%= bakeries.typeImg %>" /><br />
        <!--Category-->
        <label for="category">Category</label><br />
        <input type="text" name="category" id="category" value="<%= bakeries.category %>" /><br />
        <!--Subcategory-->
        <label for="subcat">Subcategory</label><br />
        <input type="text" name="subcat" id="subcat" value="<%= bakeries.subcat %>" /><br />
        <!--Description-->
        <label for="description">Description</label><br />
        <input type="text" name="description" id= "description" value="description" /><br />
        <!--Pricing Type-->
        <input type="text" name="pricingType" id="pricingType" value="<%= bakeries.pricingType %>" /><br />
        <!--Price-->
        <label for="price">Price($)</label><br />
        <input type="text" name="price" id="price" value="<%= bakeries.price %>" /><br />
        <!--Edit button that updates item info-->
        <input type="submit" value="Edit" />
    </form>
</body>
</html>