<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--route to go home-->
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1><%= bakeries.type %></h1>
    <form action="/<%= bakeries.id %>?_method=PUT" method="post">
        <!--Type-->
        <label for="type">Type: </label>
        <input type="text" name="type" id="type" value="<%= bakeries.type %>" /><br />
        <!--Image of Type-->
        <label for="typeImg">Type Image Link: </label>
        <input type="text" name="typeImg" id="typeImg" value="<%= bakeries.typeImg %>" /><br />
        <!--Category-->
        <label for="category">Category: </label>
        <input type="text" name="category" id="category" value="<%= bakeries.category %>" /><br />
        <!--Subcategory-->
        <label for="subcat">Subcategory: </label>
        <input type="text" name="subcat" id="subcat" value="<%= bakeries.subcat %>" /><br />
        <!--Description-->
        <label for="description">Description: </label>
        <input type="text" name="description" id= "description" value="description" /><br />
        <!--Pricing Type-->
        <label for="pricingType"> Pricing Type: </label>
        <input type="text" name="pricingType" id="pricingType" value="<%= bakeries.pricingType %>" /><br />
        <!--Shop Price-->
        <label for="shopPrice">Shop Price ($): </label>
        <input type="text" name="shopPrice" id="shopPrice" value="<%= bakeries.shopPrice %>" /><br />
        <!--Market Price-->
        <label for="marketPrice">Market Price ($): </label>
        <input type="text" name="marketPrice" id="marketPrice" value="<%= bakeries.marketPrice %>" /><br />
        <!--Shipment Price-->
        <label for="shipmentPrice">Shipment Price ($): </label>
        <input type="text" name="shipmentPrice" id="shipmentPrice" value="<%= bakeries.shipmentPrice %>" /><br />
        <!--Edit button that updates item info-->
        <input type="submit" value="Edit" />
    </form>
</body>
</html>