<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!--Item name-->
    <h1><%= bakeries.type %></h1>
    <h3>(Details)</h3>
    <!--A way to get home-->
    <nav>
        <a href="/" class="home">Home</a>
    </nav>
    <!--Container with item details-->
<div class="container" class="bakeryItem">
        <img src="<%= bakeries.typeImg %>" width="300">
    <table class="details">
        <!--Category-->
        <tr>
            <td>Category: </td>
            <td><%=bakeries.category%></td>
        </tr>
        <!--Subcategory-->
        <tr>
            <td>Subcategory: </td>
            <td><%= bakeries.subcat %></td>
        </tr>
        <!--Pricing Type-->
        <tr>
            <td>Pricing Type: </td>
            <td><%= bakeries.pricingType %></td>
        </tr>
        <!--Shop Price-->
        <tr>
            <td>Shop Price: </td>
            <td>$<%= bakeries.shopPrice %></td>
        </tr>
        <!--Market Shop-->
        <tr>
            <td>Market Price: </td>
            <td>$<%= bakeries.marketPrice %></td>
        </tr>
        <!--Shipment Price-->
        <tr>
            <td>Shipment Price: </td>
            <td>$<%= bakeries.shipmentPrice %></td>
        </tr>
    </table>
    <nav>
        <ul>
            <!--Have a way to edit the item-->
            <li>
                <form action="/<%= bakeries.id %>/edit" method="get">
                    <input type="submit" class="green btn" value="Edit" />
                </form>
            </li>
            <!--Have a way to delete item-->
            <li>
                <form action="/<%= bakeries.id; %>?_method=DELETE" method="POST">
                    <input type="submit" class="red btn" value="Delete"/>
                </form>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>